/* Feuille de style : index */

#btn{
    margin-top: 35px;
}

.ma-classe, em{
    padding: 30px 0 20px 0;
}

.ma-classe {
    font-size: 2.5em;
}

.ma-classe, .copyright {
    text-align: center;
    color: #6beab9;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
}

em {
    color: #b214a5;
    font-style: normal;
    font-weight: 800;
}

.container-column{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.jpg");
    background-attachment: fixed; /*permet de rendre l'image de fond fixe lorsqu'on déroule la page web */
    background-size: cover; /*permet de redimensionner l'image afin qu'elle s'adapte à la taille de l'élément
    qui la contient (elle garde ses proportions, en rognant la largeur ou la hauteur en fonction de la taille
    de l'élément qui la contient)*/
    padding: 00px 10px 10px 10px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter
     de l'espace dans notre élément*/
    margin: 00px 10px 10px 10px;
    border-radius: 50px;
    border : 3px solid white;
    box-shadow: 6px 6px 35px rgb(126, 189, 164);
}