/* Feuille de style : a propos */

h2{
    font-size: 1.7em;

    font-family: 'American Typewriter', fantasy;

}

h3{
    font-family: 'American Typewriter', cursive;
    font-size: 1.4em;
}

h2, h3{
    text-shadow: 6px 6px 10px rgb(45, 7, 75);
    color: #fce7fc;
    letter-spacing: 2px;
    font-weight: 700;
    transition: all 1s;
    display: block;
    margin-block-start: 00em;
    margin-block-end: 00em;
    margin-inline-start: 00px;
    margin-inline-end: 00px;
    text-align: center;
}

.container-colonne {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-size: cover;/*permet de redimensionner l'image afin qu'elle s'adapte à la taille de l'élément
       qui la contient (elle garde ses proportions, en rognant la largeur ou la hauteur en fonction de la taille
       de l'élément qui la contient)*/
    padding: 0 10px 10px 10px;/* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter
        de l'espace dans notre élément*/
    margin: 00px 10px 10px 10px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 6px 6px 35px rgb(126, 189, 164);
    background: linear-gradient(245deg,
    #80ffdb,#72efdd,#64dfdf,#56cfe1,
    #48bfe3, #3798d2, #2370cb, #3335d9
    ,#6930c3, #7400b8, #9620b0, #d579ea);
    background-size: 500%;
    animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 00% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 00% 50%;
    }
}

#contact{
    margin-bottom: 10px;
}

.box-a-propos{
    padding: 10px;
}

.a-propos{
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

.formulaire
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.champ {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
textarea {
    padding: 15px;
    border-radius: 10px;
    border : 2px solid #000000;
    outline: none;
    box-shadow: 6px 6px 35px rgb(255, 255, 255);
    transition: all 1s;
}

label{
    margin-bottom: 10px;
    color: #03001e;
    font-size: 1.2em;
}

input[type='submit'],
input[type='reset']{
    width: 150px;
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    border : 3px solid #000000;
    box-shadow: 6px 6px 35px rgb(255, 255, 255);
    transition: all 2s;
    font-family: 'kenyan coffee', sans-serif;
}

input[type='reset']{
    color: #6beab9;
}

input:hover,
textarea:hover{
    background-color: lightskyblue;
}

input:focus,
textarea:focus{
    background-color: #b495f5;
}

:required {
    background-color:#F2A3BB;
}

legend{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border : 2px solid #000000;
    box-shadow: 6px 6px 35px rgb(255, 255, 255);
    transition: all 1s;
}

fieldset{
    margin: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 6px 6px 35px rgb(255, 255, 255);
    transition: all 1s;
}